@use './partials/variables' as *;
@use './partials/mixins' as*;
@use './partials/fonts' as *;

body{
    box-sizing: border-box;
    font-family: 'Titillium Web';
    margin: 0;
    padding: 0;
}

p + img {
    transition: transform .3s ease-out;
}
p:hover + img {
    transform: translate(4px);
}